* {
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  margin-top: 75px;
  color: #fffbf1;
  background-color: #a1874d;
  margin: 0px;
}

select {
  border: none;
  background-color: #fed;
  font-size: 150%;
  text-align-last: center;
  padding: 5px;
  border-bottom: dashed dimgrey 2px;
}

option {
  background-color: #fffbf1;
}

input {
  border: none;
  border-bottom: dashed dimgrey 2px;
  background-color: #fed;
}

a {
  color: #fffbf1;
}

#app {
  background-color: #e4d2aa;
  margin: auto;
  padding: 15px 0px 15px 0px;
}

#length {
  padding: 10px;
  margin: 10px;
}

#number {
  font-size: 650%;
  color: #333;
}

#pronunciation {
  font-size: 125%;
  font-weight: bolder;
  color: #666;
}

#answer {
  padding: 10px;
  margin: 10px;
  font-size: 150%;
}

#checked {
  width: 33%;
  margin: auto;
  padding: 15px;
  font-size: 200%;
  color: white;
  font-weight: bolder;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.correct {
  background-color: lightgreen;
  border: solid white 3px;
}

.incorrect {
  background-color: lightsalmon;
  border: solid white 3px;
}

/*
fffbf1
fff4db
e4d2aa
c1aa76
a1874d
*/
